* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Prompt', sans-serif;
}


.button {
  font-size: 15px;
  padding: 17px 25px;
  font-weight: 600;
  background-color: #fff;
  color: #000000;
  text-decoration: none;
}

.header-section {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; 
}

.header {
  height: 80px;
  display: flex;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0;

  
}

.logo__image {
  height: 20px;
  padding-left: 32px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.nav__item {
  padding: 1rem;
}

.nav__link {
  text-decoration: none;
}

.header__logo {
  align-items: center;
  padding: 10px;
}

.header-font-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 50px;
}

.header-font-icons a {
  padding: 0px 5px;
}

.fw-b {
  font-weight: 800;
}
.header-icon {
  padding: 0.2rem;
  margin: 0 0.5rem; 
}

header a {
  color: #000;
}

.header__nav {
  font-family: Avenir-next, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding-top: 18px;
}


.dropbtn {
  background-color: #fff;
  color: #000;
  /* padding: 16px; */
  /* font-size: 16px; */
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin: 10px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #fff;
}

/* banner */

.container {
  position: relative;
  text-align: center;
  color: white;

}

.banner {
  
  margin-top: 55px;
}


.banner-text {
  position: absolute;
  top: 70%;
  left: 13%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  text-align: left;
  font-family: Avenir-next, sans-serif;
}

.banner-text h2,
.banner-text p {
  color: #fff;
} 

.banner-text h2{
  margin: 0px 0px 5px;
}


.banner-text p {
  margin: 0px 0px 10px;
  font-size: 25px;
  padding-top: 0px;
}

.banner-text a {
  font-size: 15px;
}


.first-small-banner {
  padding-right: 20px;
}

.last-small-banner {
  padding-left: 20px;
}

.product-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sort-dropdown__label{
font-size: 1.5rem;
border-bottom: 2px solid gainsboro;
width: 200px;
padding: 10px;
}

.sort-dropdown__select{
  width: 220px;
  height: 40px;
}

.product-list__price-label{
  font-size: 1.5rem;
  width: 200px;
  border-bottom: 2px solid gainsboro;
}

.dollar-sign{
  padding: 5px;
}

.price-filter__input {
  width: 82px;
  height: 50px;
}

.price-filter__range{
  padding: 1rem;
  width: 260px;
  height: 4px;
}


.product-list__items{
  display: flex;

}

.product-item {
  padding: 10px;
}

.product-item__image-container {
  position: relative; 
}

.product-item__image {
  height: 300px;
  width: 237px;
  transition: all 0.3s;
}


/* .product-item:nth-child(1) .product-item__image-2 {
  position: absolute;
  object-fit: contain;
  transition: opacity .2s;
  opacity: 0;
} */


.product-item-hover {
  position: absolute;
  object-fit: contain;
  top: -13px;
  transition: opacity .2s;
  opacity: 0;
}

.product-item-hover:hover {
  opacity: 1;
}

.product-item:nth-child(1) .product-item__image:hover {
  opacity: 1;
}

.carousel-button {
  color: #000
}

/* .product-item:nth-child(2) .product-item__image:hover {
  content: url('./images/items/americanfootballblack_360x.png');
} */

/* .product-item:nth-child(3) .product-item__image:hover {
  content: url('./images/items/americanfootballblue2.webp');
} */

/* .product-item:nth-child(4) .product-item__image:hover {
  content: url('./images/items/americanhockeyred2.webp');
}  */



/* product-list__items two */

/* .product-item:nth-child(1) .product-item__imagetwo:hover {
  content: url('./images/items/AshluxeHockey2.png');
} */

/* .product-item:nth-child(2) .product-item__imagetwo:hover {
  content: url('./images/items/Olympiad-26_360x2.jpg');
} */

/* .product-item:nth-child(3) .product-item__imagetwo:hover {
  content: url('./images/items/ASHLUXEContrast2.jpg');
} */

/* .product-item:nth-child(4) .product-item__imagetwo:hover {
  content: url('./images/items/GraphicsPrint2.jpg');
} */




.product-item__status-text {
  background-color: black;
  color: #efefee;
  width: 75px;
  height: 27px;
  position: relative;
  top: 36px;
  left: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.07em;
  font-weight: bold;
  z-index: 999;
}


.product-item__quick-shop {
  background-color: black;
  color: #efefee;
  width: 100px;
  height: 65px;
  position: relative;
  top: -150px;
  left: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3px 8px 2px;
  text-transform: uppercase;
  font-size: 0.7em;
  letter-spacing: 0.07em;
  font-weight: bold;
  border: none;
  opacity: 0;
  transition: opacity 0.3s ease-in; 
}

.product-item:hover .product-item__quick-shop {
  opacity: 1; 
}

.product-name {
  padding: 10px;
  color: #000;
  text-decoration: none;
}

.product-name h6 {
  padding-bottom: 10px;
  font-size: 15px;
}

.product-name:active{
  color: black;
}

.product-link{
  text-decoration: none;
}

.radio input[type="radio"] {
  transform: scale(1.5);

}
.radio input[type="radio"]:checked {
background-color: red;
}

.color-option{
  display: flex;
  justify-content: center;
  align-items: center;
}



.scroll-container {
  overflow-y: scroll;
  max-height: 300px;
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

.radio-circle{
  display: block;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: black;
  cursor: pointer;
}

.radio:nth-child(1) .radio-circle {
  background-color: black;
}

.radio:nth-child(2) .radio-circle {
  background-color: #f73f3f;
}

.radio:nth-child(3) .radio-circle {
  background-color: #f73f3f; 
}
.radio:nth-child(4) .radio-circle {
  background-color: rgb(243, 236, 236);
}

.radio:nth-child(5) .radio-circle {
  background-color: rgb(236, 243, 243); 
}

.radio:nth-child(6) .radio-circle {
  background-color: #110ebb; 
}
.radio:nth-child(7) .radio-circle {
  background-color: #0ebb45; 
}
.radio:nth-child(8) .radio-circle {
  background-color: rgb(243, 236, 236); 
}
.radio:nth-child(9) .radio-circle {
  background-color: #110ebb; 
}
.radio:nth-child(10) .radio-circle {
  background-color: #110ebb; 
}



.radio-lable{
  font-size: 1.1em;
  padding: 0.5rem;
}

.radio-container {
  display: flex;
  flex-direction: column;
}

.radio {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adjust the margin between radio items */
}

.product-section-heading {
  display: flex;
  justify-content: center !important;
  font-family: 'Prompt', sans-serif;
  padding: 10px 0;
  margin-bottom: 30px;
  width: 100%;
}

.product-section-heading h2 {
  font-size: 23px;
}


.product-size__group{
  padding: 10px;
}

.product-size__button{
  width: 71px;
  height: 40px;
  text-align: center;
  margin: 7px;
  font-size: 80%;
  text-transform: uppercase;
}


.product-container{
display: flex;
flex-direction: column;
padding: 20px;
}

.product-detail{
  padding-left: 120px;
  line-height: 1.5px;
  white-space: nowrap !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Avenir-next', sans-serif;
  font-size: 13px;
  font-weight: 100;
}


.product-detail div {
  margin-bottom: 6px;
}

.pagination__title{
  text-align: center;
  font-size: 1em;
}

.pagination__list{
  display: flex;
  justify-content: center;
  align-items: center;

}

.pagination__item,
.pagination__link,
.pagination__quote{
  list-style: none;
  text-decoration: none;
  margin: 0.5rem;

}

.pagination__quote{
  font-size: 25px;
}

.community{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 1420px;
  height: 213px;
  background-color: black;
  color: #efefee;
}
/* .community__content{

}

.community__title{

}

.community__description{

} */


.community__input-group{
  padding: 10px;
}
.community__input {
  height: 45px;
  width: 530px;
  outline: none;
  border: none;
  background-color: black;
  color: #efefee;
  border-bottom: 2px solid white;
}

.community__input:focus {
  border-style: dotted;
}

.community__input::placeholder {
  color: white;
  text-transform: capitalize;

}

.community__subit{
  height: 45px;
  width: 50px;
  border: none;
  outline: none;
  background-color: black;
  color: #efefee;
  text-transform: capitalize;
  font-size: 1rem;
  margin-left: -6rem;

}

.community__social-media{
margin-right: 29rem;
padding-top: 10px;
}

.footer{
height: 300px;

}
.footer__explore{
  border-bottom: 1px solid black;
  padding-bottom: 5rem;
}

.footer__explore-item,
.footer__explore-link{
  font-size: 1rem;
  list-style: none;
  text-decoration: none;
  margin: 5px;
}

.newsletter {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 10px rgba(1,1, 0, 1.1);
  position: fixed;
  bottom: 20px; 
  left: 20px; 
  z-index: 1000; 
}

.newsletter__signup {
  width: 80%;
  color: #0b0b09;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chat{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px; 
  right: 20px; 
  z-index: 1000;  
}

.chat__button{
  width: 174px;
  height: 35px;
  font-size: 11px;
  background-color: #f5f7f9;
  border: none;
  border-radius: 5px;
  outline: none;
}
.chat__icon-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  margin: 10px 8px;
  border-radius: 50%;
  background-color: black;
}

.chat__icon {
  color: white;
  text-align: center;
}



/*  AUTHENTICATIONS */


.auth-header{
  font-weight:400 ;
  text-align: center;
  font-size:23px;
  padding-top: 150px;
  padding-bottom:30px;


}

.forms{
display: flex;
flex-direction: column;
width: 100%;
margin: 10px 0px 150px 35px;


}
label{
  display: block;
  font-weight: 600;
  font-size:17px;
  font-family: Avenir-next;
 
}
input{
  width:400px;
  height:50px;
  margin-top:10px;
  border:1px solid #dddddd;
}
button{
  width:400px;
  height:50px;
  margin-top: 20px;
  border:none ;
}
.signin-btn{
 background-color: #000; 
 color: #fff;
 font-size:19px ;
 font-weight: 400;
}

.create-btn{
  background-color: #ddd; 
  color: #000;
  font-size:19px ;
  font-weight: 400;
}

.password{
  display: flex;
  align-items: flex-end; 
  gap: 122px;
  margin-top: 20px ;
  width:100%;
 
}

.password a{
  font-family:200 ;
  font-size:17px;
  font-family: Avenir-next;
  color: #000;
}
.horizontal-line{
  margin-top:40px;
  color: #dddddd;
}

.or{
  background-color: #fff;
  width: 30px;
  margin:-10px auto 10px ;
  color: #c8c7c7;
  font-size:17px ;
  font-weight:300 ;
  font-family:avenir-next ;
  text-indent:6px ;
}


/* 
======================== 
FORMIK VALIDATION
========================
*/

.error {
  color: #ff0000;
  font-size: 13px;
}












